.wrapper {
    width: 1110px;
    margin: 0 auto;
    position: relative;
}

.menu {
    /* width: 1200px; */
    /* margin: 0 auto; */
    position: relative;
    line-height: 5em;
    font-family: 'Roboto', sans-serif;
    
}

.first {
    float: left;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color:rgb(81, 81, 81);
}

.submenu {
    float: right;
    margin: 0 auto;
    margin: 0px 10px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
   
}

.item-name {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color:rgb(81, 81, 81);
}

.clearfix {
    clear: both;
}

.item-name:hover {
    color: #4ec6ab;
}

.colortext {
    color: #4ec6ab;
    font-weight: bold;
}


.title {
    margin-top: 103px;
    text-align: center;
    color: rgb(81, 81, 81);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}


img {
    width: 255px;
    height: 280px;
}
.text {
    color: #ffffff;
    /* text-align: center ; */
    font-size: 15px;
    margin: 0 auto;
    line-height: 2em;
    padding: 0px 5px 5px 12px;
    font-family: 'Roboto', sans-serif;
}

.box1:hover .box1-1 {
    background: #4ec6ab
}
.box1:hover  {
    background: #4ec6ab
}
.conteiner {
    margin: 0 auto;
}
.box1 {
    width: 255px;
    height: 320px;
    margin: 0 auto;
    display: inline-block;
    background: #323232;
    margin-top: 92px;
    margin-left: 15px;
    position: relative;
    
}
.box1-1 {
    float: right;
    width: 55px;
    height: 40px;
    background: rgb(172, 167, 167);
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.box2:hover .box2-1 {
    background: #4ec6ab
}
.box2:hover  {
    background: #4ec6ab
}

.conteiner2 {
    margin: 0 auto; 
}
.box2 {
    width: 255px;
    height: 320px;
    margin: 0 auto;
    display: inline-block;
    background: #323232;
    position: relative;
    margin-top: 30px;
    margin-left: 15px;
}
.box2-1 {
    float: right;
    width: 55px;
    height: 40px;
    background: rgb(172, 167, 167);
    position: absolute;
    right: 0px;
    bottom: 0px;
}   

footer {
    width: 1110px;
    margin: 0 auto;
}
.conteiner3 {
    /* width: 1110px; */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.box3 {
    width: 320px;
    height: 500px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-left: 35px;
    margin-top: 80px;
   }
   .footer_img {
    width: 350px;
    height: 260px;
   }
   .underline {
    font-size: 22px;
    color:  rgb(81, 81, 81);
    font-weight: bolder;
   }
   .button {
    color: #ffffff;
    width: 78px;
    height: 10px;
    display: inline-block;
    border: 1px  #ffffff;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    background: #4ec6ab;
    border-radius: 3px; 
   } 



